<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
  <header th:replace="layout/layout :: menu"></header>
  <div class="container py-4">
    <div class="card">
      <div class="card-header">
        <h1 class="text-primary" th:text="${titulo}"></h1>
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <a class="btn btn-primary" th:href="@{/form}">Nuevo cliente</a>
        </h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Email</th>
              <th>CreateAt</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cliente : ${clientes}">
              <td>
                <a class="btn btn-secondary btn-xs" th:href="@{/detalle/}+${cliente.id}" th:text="${cliente.id}"></a>
              </td>
              <td th:text="${cliente.nombre}"></td>
              <td th:text="${cliente.apellido}"></td>
              <td th:text="${cliente.email}"></td>
              <td th:text="${cliente.createAt}"></td>
              <td>
                <a class="btn btn-info btn-xs" th:href="@{/form/}+${cliente.id}">Editar</a>
                <a class="btn btn-danger btn-xs" th:href="@{/eliminar/}+${cliente.id}"
                onclick="return confirm('seguro queires eliminar');">Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav th:replace="layout/paginator-nav :: paginator"></nav>
      </div>
    </div>
  </div>
  <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>